* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
}
body {
    background: transparent no-repeat center;
    background-size: cover;
    min-height: 100%;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.shorts-weather {
    background-image: url('images/bg_shorts.jpg');
}
body.cold-weather {
    background-image: url('images/bg_cold.jpg');
}
body.pants-weather {
    background-image: url('images/bg_pants.jpg');
}
body.rain-weather {
}
body.snow-weather {
    text-shadow: 0 0 5px #000;
}
body.rain-weather #video-background, body.snow-weather #video-background {
    display: block;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
}

.loading {
  color: black;
}
.loading::after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1500ms infinite;
  animation: ellipsis steps(4,end) 1500ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}

a {
  color: #eee;
}

#footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  font-size: 0.4em;
  color: #ddd;
}

#footer a {
  color: #ddd;
}
