* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
}
body {
    background-size: cover;
    min-height: 100%;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.shorts-weather {
    background: url('images/bg_shorts.jpg') no-repeat center;
}
body.cold-weather {
    background: url('images/bg_cold.jpg') no-repeat center;
}
body.rain-weather {
    background: url('images/bg_rain.jpg') no-repeat center;
}
body.snow-weather {
    background: url('images/bg_snow.jpg') no-repeat center;
    text-shadow: 0 0 5px #000;
}
